<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-grid >
<ion-row>
    <ion-col>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input formControlName="username"></ion-input>
            </ion-item>
           <ion-item>
               <ion-label position="floating">Password</ion-label>
               <ion-input type="password" formControlName="password"></ion-input>
           </ion-item>
            <ion-item>
                <ion-label>Passwort merken</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
            <ion-button type="submit" [disabled]="loading" expand="block">Login</ion-button>
        </form>
    </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button [routerLink]="['/register']" expand="block">Registrieren</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>

